
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
.flaskenv

# Virtual Environment
venv/
env/
ENV/

# Database
*.db
*.sqlite3
instance/

# IDEs
.vscode/
.idea/
.pyre_configuration
